SWIFT_VERSION = 6.0
IPHONEOS_DEPLOYMENT_TARGET = 17.0
TARGETED_DEVICE_FAMILY = 1,2
BUNDLE_PREFIX = solutions.ddj.cleanshare
MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1
SWIFT_STRICT_CONCURRENCY = complete
ENABLE_USER_SCRIPT_SANDBOXING = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
